
* {
    margin: 0;
}
.wrapper {
    width: 800px;
    margin-inline: auto;

    border: 3px solid #798895;
}

h2 {
    padding: 20px;
    text-align: center;
    color: #5E6F7D;
}

p {
    padding: 20px;
    margin-inline: auto;
}

main p:nth-child(odd) {
    background-color:#41484E;
    color:#DDD;
}
main p:nth-child(even) {
    background-color: #5E6F7D;
    color:#EEE;
}