* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.cdnfonts.com/css/singapore-sling');

                
body {
    font-family: 'Singapore Sling', sans-serif;
}

:root {
    --primary-color: #a8d3c6;
    /* Green */
    --secondary-color: #c9e4bd;
    /*Light green */
    --tertiarycolor-: #f8981d;
     /*Orange */
}

.container {
    width: 1200px;
    margin-inline: auto;
    background-color: aqua;
}

a {
    text-decoration: none;
}

/* HERO SECTION */

header {
    padding-top: 35px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    margin: 0 auto;
    height: 100px;
    border-radius:15px;
    box-shadow: -5px 7px 5px rgba(0, 0, 0, 0.35);
    filter: blur(1);

    background-color: #c9e4bd;
}

.logo {
    background-color: var(--primary-color);
    padding:19px 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;

    font-size: 1.3rem;

    padding-right: 15px;
}

nav a {
    color: #000000;
}

nav ul .home {
    color: var(--tertiarycolor-);
}

.hero-section {
    background-image: url(./header/we\ make\ art\ you\ live\ in.png);
    height: 610px;
    border-bottom: 4px solid var(--tertiarycolor-);
}

/* NEWS SECTION */

.news_section {
    height: 651px;
    border-bottom: 4px solid #f8981d;

    position: relative;

    background-color: var(--secondary-color);
}

.news_section h2 {
    text-align: end;
    padding: 75px 20px 20px 0px;

    font-size: 2rem;
    opacity: 0.5;
}

.images {
    display:flex;
    width: 389px;
    height: 498px;   
    
    position: absolute;
    bottom: 3px;
}

h4 {
    font-family: Verdana;
    background-color: #ffffff;
    width: 80%;
    padding: 10px 10px;

    margin-left: 40px;

    position: absolute;
    bottom: 20px;
}
/* ABOUT US SECTION */

.about-us_section {
 position: relative;
 background-color: #a8d3c6;

 border-bottom: 4px solid #f8981d;
}

.text-area {
    background-color: var(--tertiarycolor-);
    color: #ffffff;

    position: absolute;
    top: 420px;
    left: 80px;
    
    width: 90%;
}

.about-us_section h2 {
    text-align: end;
    padding: 75px 20px 20px 0px;

    font-size: 2rem;
    opacity: 0.5;
}

.text-area p {
    width: 95%;
    text-align: left;
    margin-inline: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.about-us-icon {
    position: absolute;
    top: 375px;
    left: 95px;
    z-index: 1;
}